body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[id='cost']::-webkit-outer-spin-button,
input[id='cost']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[id='add'] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px; /* may require vendor prefixes */
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: 0px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background-color: #04AA6D; /* Green */
  }

button[id='dec'] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px; /* may require vendor prefixes */
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: 0px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background-color: #d80808; /* red */
  }

#drop{
    border: none;
    color: white;
    font-weight: bold;
    background-color: #A5E1A0;
}